@import "tailwindcss";

@font-face {
  font-family: 'Press Start 2P';
  src: local('Press Start 2P');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

canvas {
  outline: none;
  touch-action: none;
}

canvas:focus {
  outline: none;
}
